# Database
POSTGRES_PASSWORD=<strong-password>

# JWT
JWT_SECRET=<base64-encoded-secret>

# Cloudinary
CLOUDINARY_CLOUD_NAME=dqsmid3tg
CLOUDINARY_API_KEY=384683498784571
CLOUDINARY_API_SECRET=<your-secret>
